- var _skills = '';

if skills
  -
    for (const row of skills) {
      _skills += row[0];
    }

.card__grid(class='card--' + _card, data-serial=_serial, data-index=_index, data-title=title, data-skills=_skills, data-description=(Array.isArray(description) ? description : [description ? description : '']).join(' '), data-finished=_finished)
  .card
    block card
      if value
        .card__value
          | #{value}
      .card__header
        block header
          .card__type
            .card__cat(style="background-image: url('files/cat-" + type + "');")
          .card__title
            span.card__title-bottom-pad
              | #{title}
      .card__media
        block image
          - images = (Array.isArray(images) ? images : [images]);
          - classes = ['card__frame--' + images.length];
          - if (framed) classes.push('card__frame--framed');
          - if (droped) classes.push('card__frame--droped');
          - if (shadowed) classes.push('card__frame--shadowed');
          - if (stretched) classes.push('card__frame--stretched');
          .card__frame(class=classes.join(' '))
            each image in images
              .card__image(style="background-image: url('files/" + image + "');")
            .card__frame-image
        block tags
          .card__tags
            - tags = (Array.isArray(tags) ? tags : [tags])
            each tag in tags
              .card__tag(style="background-image: url('files/tag-" + tag + ".svg');")
      .card__bottom
        block bottom
          .card__description
            block description
              if description
                - description = (Array.isArray(description) ? description : [description ? description : '']);
                each desc in description
                  -
                    var desc_classes = [];
                    if (desc.startsWith('_')) {
                      desc = desc.substring(1);
                      desc_classes.push('card__text--underline');
                    }
                  p.card__text(class=desc_classes)
                    | #{desc}
          .card__skills
            if skills
              .card__table(style='height: ' + (100 / 6 * skills.length) + '%')
                each row in skills
                  each column in row
                    .card__column
                      | #{column}
    block meta
      .card__meta
        | #{_version} / #{_serial}
  if !_print
    .card__info
      .card__data
        .card__data-index
          | Anzahl
        .card__data-value
          | #{_count}
      .card__data
        .card__data-index
          | Type
        .card__data-value
          | #{_type}
      .card__data
        .card__data-index
          | Serial
        .card__data-value
          | #{_serial}
      .card__data
        .card__data-index
          | Index
        .card__data-value
          | #{_index}
      .card__data
        .card__data-index
          | Finished
        .card__data-value
          | #{_finished ? 'yes' : 'no'}
