extends page.pug

block page
  .index
    p
      | Last Serial Index: #{serial}
    p 
      | Missing Serial Indexes: #{missing.join(', ')}
    p 
      | Duplicate Serial Indexes: #{duplicates.join(', ')}
    ul.menu
      each link in links
        li  
          a(href=link.url)= link.name

    ul.menu
      each print in prints
        li  
          a(href=print.url)= print.name
